<header class="main-header">
    <div class="container header-container">
        <a href="#" class="logo">

        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="#courses">Курси</a></li>
                <li><a href="#why-us">Чому ми</a></li>
                <li><a href="#reviews">Відгуки</a></li>
                <li><a href="#contact">Залишити заявку</a></li>
            </ul>
        </nav>
        <div class="header-actions">
            <a routerLink="/trial-lesson" class="btn">Консультація менеджера</a>
        </div>
        <button class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>