<section id="contact" class="contact-section">
  <div class="container contact-container">
    <div class="form-wrapper">
      <h2 class="form-title">Записати дитину на безкоштовний урок</h2>
      <form class="contact-form">
        <div class="form-row">
          <input type="text" placeholder="Ваше ім'я" required>
          <input type="tel" placeholder="Ваш телефон" required>
        </div>
        <div class="form-row">
          <select required>
            <option value="" disabled selected>Який курс цікавить?</option>
            <option value="Консультація">Консультація</option>
            <option value="Scratch">Scratch</option>
            <option value="Python">Python</option>
            </select>
          <input type="text" placeholder="Промокод (якщо є)">
        </div>
        <button type="submit" class="submit-btn">Записатися</button>
      </form>
    </div>
    <div class="image-wrapper">
      
    </div>
  </div>
</section>