<section id="features" class="features-section">
  <div class="container">
    <h2 class="section-title">Програмування замість ігор та YouTube</h2>
    <p class="section-subtitle">Це чудовий для дитини спосіб опанувати професію майбутнього</p>
    <div class="features-grid">

      <div class="feature-card">
        <div class="card-image">
                      </div>
        <h3>Час</h3>
        <p>Обирайте зручний час - ми підлаштуємося під Вас</p>
      </div>

      <div class="feature-card">
        <div class="card-image">
                      </div>
        <h3>Місцезнаходження</h3>
        <p>Навчайтеся де зручно – вдома, на вулиці, у кафе</p>
      </div>

      <div class="feature-card">
        <div class="card-image">
                      </div>
        <h3>Ефективність</h3>
        <p>Наша задача – зробити так, щоб дитина одразу почала програмувати</p>
      </div>

    </div>
  </div>
</section>